#wrap {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  justify-content: space-around;
}
#hands-wrap {
  display: flex;
  flex-direction: column;
}
.player-hand {
  display: flex;
  flex-flow: wrap;
}

.card-face {
  height: 80px;
  width: 50px;
  border: 2px solid black;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  letter-spacing: 1px;
}
.red {
  color: red;
}
.black {
  color: black;
}